html, body {
	background-color:#fff;
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	background-color:#FFD04F;
}

.clear {
	clear: both;
}

#infoPanel {
	padding: 10px 20px;
	margin: 20px 20px 0 20px;
  /*7AA5B7*/
	background: #FF8400;
  font-family: 'Open Sans', sans-serif;
}

/* -----------------
    Comments css
   ----------------- */
   
#HCB_comment_box textarea {
  /* add any custom CSS for the comment box here. */
  
}

/* the entire html comment box container. applies to everything */
#HCB_comment_box {
  font-family: verdana, serif;
  color: #000000;
  background-color: #FFD04F;
  margin: 0 20px 30px 20px;
}

#HCB_comment_box p.error {
  border: 1px solid red;
  background-color: #fee;
}

.hcb-mod b {
    color:#DD3344;
}

#HCB_comment_box textarea, #HCB_comment_box input.text {
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background-color: #f8f8f8;
}

#HCB_comment_box .hcb-wrapper-half {
    display:block;
    width:50%;
    float:left;
}
#HCB_comment_box .hcb-wrapper {
    clear:both;
}
#HCB_comment_box input.text {
    display:block;
    width:97%;
}
/* the submit button */
#HCB_comment_box input.submit {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  background-color: #ccc;
  color: #666;
  font-weight:bold;
  cursor:pointer;
}

#HCB_comment_box span.home-desc {
  font-size:10px;
  opacity:0.4;
}

/* the individual comment display containers */
#HCB_comment_box div.comment {
  border-bottom:1px dotted #eee;
  margin-bottom:5px;
}

/* the moderator message */
.hcb-mod  i{
  color:darkblue;
}

/* next, prev, ok and x link style */
.hcb-link {
  color:blue;
  text-decoration:underline;
}
